@keyframes anim-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    display: inline-block;
    /*font-size:4em;*/
    height: 1em;
    line-height: 1;
    animation: anim-rotate 2s infinite linear;
    /*color: #fff;*/
    text-shadow: 0 0 .25em rgba(255,255,255, .3);
}
.spinner--steps {
    animation: anim-rotate 1s infinite steps(8);
}
